.main__brand-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 18rem;
    margin-block: 2rem;
}

.main__brand-section figure{
    width: 15%;
}

.main__brand-section figure img{
    width: 100%;
}
