.main__new-arrivals{
    font-family: 'Poppins';
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.new-arrivals__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.new-arrivals__title-description{
    max-width: 614px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.new-arrivals__title-description > h2{
    font-size: 4rem;
    font-family: 'Roboto';
}

.new-arrivals__title-description > p{
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
}

.new-arrivals__nav{
    width: 100%;
}

.new-arrivals__nav-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.new-arrivals__nav-item-list{
    background-color: var(--color-lighter-gray);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: all 300ms;
}

.new-arrivals__nav-item-list > a{
    color: #8A8A8A;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 300ms;
}

.new-arrivals__nav-item-list:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0, 0,0.25);
}

.new-arrivals__nav-item-list:hover > a{
    color: var(--color-black);
}

.new-arrivals__nav-item-list--selected{
    background-color: var(--color-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: all 300ms;
}

.new-arrivals__nav-item-list--selected > a {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 300ms;
}

.new-arrivals__select-list{
    display: none;
    width: 70%;
    font-size: 1.6rem;
    background-color: var(--color-lighter-gray);
    color: #8a8a8a;
    border: solid 1px var(--color-darker-gray);
    border-radius: 1.2rem;
    padding: 1rem;
}

.new-arrivals__cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.6rem;
    margin-block: 1rem;
}

/* * Card Item */

.new-arrivals__card-item{
    width: 100%;
    max-width: 29rem;
    border: solid 1px #E5E5E5;
    border-radius: 1rem;
    padding: 1.6rem;
}

.new-arrivals__card-item figure{
    width: 100%;
    height: 24rem;
    border-radius: 0.75rem;
    overflow: hidden;
}

.new-arrivals__card-item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-arrivals__card-item h3{
    color: var(--color-black);
    font-weight: 500;
    font-size:2rem;
}

.new-arrivals__card-item > span{
    display: block;
    color: var(--color-black);
    opacity: 0.5;
    font-size: 1.2rem;
}

.card-item__prices{
    display: flex;
    align-items: flex-end;
    color: var(--color-black);
    font-weight: 500;
    font-size:1.6rem;
    gap: 1rem;
}

.card-item__prices > .card-item__prices--with-discount{
    font-size: 2.4rem;
}

.card-item__prices > .card-item__prices--normal{
    font-size: 1.6rem;
    opacity: 0.5;
    text-decoration: line-through;
    padding-block-end: 0.45rem;
}

.card-item__colors{
    display: flex;
    flex-wrap: wrap;
    margin-block: 1rem;
    gap: 1rem;
}


.card-item__colors > .card-item__color-item{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: all 150ms;
}

.card-item__colors > .card-item__color-item:hover{
    border: solid 1px var(--color-black);
}

.card-item__color-item--gray-color{
    background-color: #D9D9D9;
}

.card-item__color-item--red-color{
    background-color: var(--color-primary);
}

.new-arrivals__card-item > button{
    font-size: 1.6rem;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color-primary);
    background-color: transparent;
    border: solid 1px var(--color-primary);
    transition: all 150ms;
    cursor: pointer;
}

.new-arrivals__card-item > button:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}


/**New arrivals View More button*/

.main__new-arrivals > button{
    width: 20rem;
    height: 5.7rem;
    border-radius: 1rem;
    background-color: var(--color-primary);
    border: none;
    font-size: 1.6rem;
    color: var(--color-white);
    margin-block-start: 1rem;
}


@media screen and (max-width: 1024px) {
    .new-arrivals__select-list{
        display: block;
    }

    .new-arrivals__nav-list{
        display: none;
    }
}



