.main__new-arrivals{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.new-arrivals__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.new-arrivals__title-description{
    max-width: 614px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.new-arrivals__title-description > h2{
    font-size: 4rem;
    font-family: 'Roboto';
}

.new-arrivals__title-description > p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
}

.new-arrivals__nav{
    width: 100%;
}

.new-arrivals__nav-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.new-arrivals__nav-item-list{
    background-color: var(--color-lighter-gray);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: all 300ms;
}

.new-arrivals__nav-item-list > a{
    color: #8A8A8A;
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 400;
    text-decoration: none;
    transition: all 300ms;
}

.new-arrivals__nav-item-list:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0, 0,0.25);
}

.new-arrivals__nav-item-list:hover > a{
    color: var(--color-black);
}

.new-arrivals__nav-item-list--selected{
    background-color: var(--color-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: all 300ms;
}

.new-arrivals__nav-item-list--selected > a {
    color: var(--color-white);
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 400;
    text-decoration: none;
    transition: all 300ms;
}

.new-arrivals__select-list{
    display: none;
    width: 70%;
    font-family: 'Poppins';
    font-size: 1.6rem;
    background-color: var(--color-lighter-gray);
    color: #8a8a8a;
    border: solid 1px var(--color-darker-gray);
    border-radius: 1.2rem;
    padding: 1rem;
}

.new-arrivals__cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.6rem;
}

.new-arrivals__card-item figure{
    width: 100%;
    height: auto;
}

.new-arrivals__card-item figure{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .new-arrivals__select-list{
        display: block;
    }

    .new-arrivals__nav-list{
        display: none;
    }
}



