/*! Aside section*/

.aside__FilterSection{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1rem;
    font-family: 'Volkhov';
}

.aside__FilterSection h2{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.aside__FilterSection h3{
    font-size: 1.8rem;
    font-weight: 400;
}



/** Size section*/
.aside__size-section{
    width: 50%;
}

.size-section__size-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 15rem;
    margin-block: 1rem;
    gap: 0.5rem;
}

.size-section__size-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8A8A8A;
    font-size: 1.2rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 1rem;
    border: solid 1px #8A8A8A;
    cursor: pointer;
}

/** Colors section*/
.aside__colors-section{
    width: 100%;
    margin-block: 1rem;
}

.colors-section__colors-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.colors-section__color{
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    cursor: pointer;
}

.colors-section__color--red{
    background-color: #ff6c6c;
}

.colors-section__color--orange{
    background-color: #ff7628;
}

.colors-section__color--yellow{
    background-color: #fff06c;
}

.colors-section__color--green{
    background-color: #9bff6b;
}

.colors-section__color--light-green{
    background-color: #6bff9d;
}

.colors-section__color--seablue{
    background-color: #6bffdb;
}

.colors-section__color--blue{
    background-color: #6cb9ff;
}

.colors-section__color--light-blue{
    background-color: #6cf6ff;
}

.colors-section__color--king-blue{
    background-color: #6d7bff;
}

.colors-section__color--purple-blue{
    background-color: #8a6cfe;
}

.colors-section__color--purple{
    background-color: #b66cff;
}

.colors-section__color--pink{
    background-color: #fc6cff;
}

/** Prices section*/
.aside__prices-section{
    margin-block: 2rem;
}

.aside__prices-section h3{
    margin-bottom: 2rem;
}

.aside__prices-section p{
    font-family: 'Poppins';
    margin-block: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #8A8A8A;
}

/** Brands section*/

.brands-section__brands-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 70%;
}

.brands-section__title-icon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.2rem;
}

.brands-section__brands-container p{
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 400;
    color: #8A8A8A;
}

/** Collections section*/
.aside__collections-section{
    margin-block: 1.5rem;
}

.aside__collections-section p{
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 400;
    color: #8A8A8A;
    margin-block: 1rem;
}

/** Tags section*/
.tags-section__tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-block: 1.5rem;
}

.tags-section__tags-container p{
    font-family: 'Jost';
    font-size: 1.6rem;
    font-weight: 400;
    color: #8A8A8A;
}

/*! Pictures Section*/

.main__picture-container{
    flex: 1;
    padding: 1rem;
}

.picture-container__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-picture-container__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.header-picture-container__filter h3{
    font-family: 'Volkhov';
    font-size: 1.6rem;
    font-weight: 400;
}

.header-picture-container__layout-container{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.header-picture-container__layout-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    background-color: #F2F2F2;
}

.picture-container__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1rem; 
    padding: 1rem; 
    justify-items: center; 
    align-items: center; 
}

.picture-container-grid__card-item{
    max-width: 32rem;
    margin-bottom: 1rem;
}

.picture-container-grid__card-item figure{
    width: 100%;
}

.picture-container-grid__card-item figure img{
    width: 100%;
}

.picture-container-grid__card-item h3{
    font-family: 'Volkhov';
    font-size: 1.6rem;
    font-weight: 400;
}

.card-item__price{
    font-family: 'Jost';
    font-size: 1.6rem;
    font-weight: 400;
    margin-block: 1rem;
}

.card-item__colors{
    display: flex;
    gap: 1rem;
}

.card-item__colors > div:first-child{
    border: solid 1px #000000;
}

.card-item__color-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    border: solid 2px #e6e6e6;
    cursor: pointer;
}

.card-item__color-item--inner-circle{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
} 

.card-item__color-item--yellow-color{
    background-color: #FFD700;
}

.card-item__color-item--black-color{
    background-color: #000000;
}
.card-item__color-item--blue-cream-color{
    background-color: #8DB4D2;
}
.card-item__color-item--light-pink-color{
    background-color: #FFD1DC;
}
.card-item__color-item--lavender-color{
    background-color: #EBE6DB;
}
.card-item__color-item--light-green-color{
    background-color: #C1E1C1;
}
.card-item__color-item--light-blue-color{
    background-color: #B1C5D4;
}
.card-item__color-item--dark-blue-color{
    background-color: #063E66;
}
.card-item__color-item--purple-color{
    background-color: #C6AEC7;
}
.card-item__color-item--white-color{
    background-color: #FFFFFF;
}
.card-item__color-item--brown-color{
    background-color: #836953;
}
.card-item__color-item--lighter-blue-color{
    background-color: #BEDCE3;
}

.picture-container__available-pages{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}
.picture-container__available-pages div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    font-family: 'Jost';
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}

.picture-container__available-pages--selected{
    background-color: #f3f3f3;
}
.available-pages__other-pages{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}