.main__deatils-container{
    width: 55%;
    padding: 2rem;
}

.main__deatils-container > p{
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 1.4rem;
    color: #666666;
}

.details-container__title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-container__title-container h2 {
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 3rem;
}

.details-container__title-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: solid 1px #EEEEEE;
}

.details-container__calification-container{
    display: flex;
    align-items: center;
}

.details-container__calification-container div{
    display: flex;
    align-items: center;
}

.details-container__calification-container p{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 1.5rem;
    margin-inline: 1rem;
}

.details-container__prices-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1.5rem;
}

.details-container__prices-container .prices-container__normal-price{
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 2.4rem;
}

.details-container__prices-container .prices-container__discounted-price{
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: line-through;
    color: #666666;
}

.details-container__prices-container > div{
    border-radius: 1rem;
    padding-inline: 1rem;
    background-color: var(--color-primary);
}


.details-container__prices-container > div> span{
    font-family: 'Jost';
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-white);
}

.details-container__people-waching-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.details-container__people-waching-container p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.6rem;
    color: #8A8A8A;
}

.details-container__hurry-up-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    border-radius: 0.5rem;
    background-color: #FDEFEE;
    border: solid 1px #F8CCCC;
    margin-block: 2.5rem;
}

.details-container__hurry-up-container p{
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 1.8rem;
    color: #FF706B;
    transition: all 150ms;
}

.hurry-up-section__timer{
    display: flex;
    justify-content: space-between;
    width: 23rem;
    margin-right: 2rem;
}

.details-container__stock p{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 1.6rem;
    color: #666666;
}

.details-container__stock > div{
    width: 100%;
    height: 0.5rem;
    border-radius: 0.2rem;
    background-color: #DEDEDE;
    margin-block: 1rem;
}

.details-container__stock > div > div{
    width: 10%;
    height: 0.5rem;
    border-radius: 0.2rem;
    background-color: var(--color-primary);
}

.details-container__size-section{
    margin-block-start: 3rem;
}

.details-container__size-section h3{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 1.6rem;
}

.details-container__size-section .size-section__size-container{
    display: flex;
    gap: 1rem;
}

.details-container__size-section .size-section__size-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border: solid 1px #EEEEEE;
    border-radius: 0.5rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.8rem;
    margin-block: 1rem;
}

.details-container__size-section .size-section__size-container .size-section__selected-item{
    color: var(--color-white);
    background-color: var(--color-black);
}

.details-container__colors-section{
    margin-block-start: 1.5rem;
}
.details-container__colors-section h3{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 1.6rem;
}

.colors-section__colors-container{
    display: flex;
    gap: 1rem;
    margin-block: 1rem;
}

.colors-section__colors-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: solid 1px #e6e6e6;
    border-radius: 50%;
}

.colors-section__colors-container  .colors-container__selected-color{
    border: solid 1px #000000;
}
.colors-container__selected-color > div{
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
}

.color-item__blue-color{
    background-color: #8db4d3;
}

.color-item__pink-color{
    background-color: #ffd1dc;
}

.color-item__black-color{
    background-color: #000000;
}

.details-container__quantity-section{
    width: 100%;
    margin-block: 2rem;
}

.details-container__quantity-section h3{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 1.6rem;
}

.quantity-section__buttons-container{
    display: flex;
    gap: 3rem;
    margin-block: 1rem;
}

.buttons-container__increase-decrease-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
    height: 4.6rem;
    border-radius: 0.4rem;
    border: solid 1px #EEEEEE;
    padding-inline: 2rem;
}

.buttons-container__increase-decrease-section p{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 1.6rem;
}

.buttons-container__button-add-to-the-cart{
    width: 100%;
    background: none;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
}

.buttons-container__button-add-to-the-cart:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}


.details-container__actions-section{
    display: flex;
    width: 100%;
    border-bottom: solid 1px #EEEEEE;
    margin-block-start: 4rem;
    gap: 3rem;
}

.details-container__actions-section > div{
    position: relative;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.2rem;
    gap: 1rem;
    cursor: pointer;
}

.details-container__actions-section > div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease, left 0.3s ease;
}

.details-container__actions-section > div:hover::after {
    width: 100%;
    left: 0;
}

.details-container__actions-section > div > p{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 1.6rem;
}

.details-container__estimated-delivery{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block-start: 3rem;
}

.estimated-delivery__label{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 1.6rem;
}

.estimated-delivery__actual-date{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 1.6rem;
}

.details-container__free-shipping{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}

.details-container__free-shipping p{
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 1.6rem;
}

.details-container__payment-methods{
    width: 100%;
    height: 11rem;
    margin-block: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #F8F8F8;
}

.details-container__payment-methods p{
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 1.6rem;
}



@media screen and (max-width:1100px){

    .hurry-up-section__timer{
        margin-right: 0rem;
    }

    .details-container__hurry-up-container p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:877px){

    .hurry-up-section__timer{
        width: 15rem;
    }

    .details-container__hurry-up-container > p{
        margin-block-end: 1rem;
    }

    .details-container__hurry-up-container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .details-container__payment-methods figure{
        width: 25rem;
    }

    .details-container__payment-methods figure img{
        width: 100%;
    }

    .details-container__payment-methods p{
        font-size: 1.2rem;
    }

    .estimated-delivery__label{
        font-size: 1.2rem;
    }
    
    .estimated-delivery__actual-date{
        font-size: 1.2rem;
    }

    .details-container__free-shipping p{
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width:600px){

    .details-container__title-container h2 {
        font-size: 2.5rem;
    }

    .details-container__prices-container .prices-container__normal-price{
        font-size: 2rem;
    }
    
    .details-container__prices-container .prices-container__discounted-price{
        font-size: 1.2rem;
    }

    .details-container__prices-container > div> span {
        font-size: 1rem;
    }
    .details-container__people-waching-container p {
        font-size: 1.2rem;
    }

    .quantity-section__buttons-container{
        flex-direction: column;
        gap: 0.5rem;
    }

    .buttons-container__increase-decrease-section{
        width: 100%;
    }

    .details-container__actions-section > div > p{
        font-size: 1.2rem;
    }

    .buttons-container__button-add-to-the-cart{
        height: 4.6rem;
    }

    .details-container__actions-section {
        flex-direction: column;
        margin-block-start: 1.5rem;
        align-items: center;
        gap:1rem;
    }
    .details-container__actions-section > div{
        height: 1rem;
    }

    .details-container__payment-methods figure {
        width: 15rem;
    }
}



