@import "./reset.css";
@import './fonts.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/new-arrivals.css';
@import './components/summer-season-sale.css';
@import './components/main-header.css';

:root {
    --color-primary: #ED1C24;
    --color-black:#191919;
    --color-white:#FFFFFF;
    --color-darker-gray: #CCCCCC;
    --color-lighter-gray: #FAFAFA;
}
main{
    width: 100%;
    min-height: calc(100dvh - 10rem);
}