@import "./reset.css";
@import './fonts.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/HomePage/new-arrivals.css';
@import './components/HomePage/summer-season-sale.css';
@import './components/HomePage/main-header.css';
@import './components/HomePage/brand-section.css';
@import './components/HomePage/feature-section.css';
@import './components/PopUpSideMenu.css';
@import './components/aside.css';
:root {
    --color-primary: #ED1C24;
    --color-black:#191919;
    --color-white:#FFFFFF;
    --color-darker-gray: #CCCCCC;
    --color-lighter-gray: #FAFAFA;
}
main{
    width: 100%;
    min-height: calc(100dvh - 10rem);
}